body{
    background-color: rgba(196, 139, 66, 0.822);
    padding-bottom: 100px;
    font-family: 'Roboto', sans-serif;
}
h1{
    color: rgb(3, 3, 5);
    text-align: center;
    font-weight: 800;
    font-size: 29px;
    word-spacing: 3px;
}
h1 span{
    color: blue;
}
input{
    padding: 8px 10px 8px 10px;
    border: none;
    background-color: rgb(213, 212, 212);
    border-radius: 3px;
}
.calc-btn{
    padding: 13px 35px 13px 35px;
    color: white;
    background-color: rgb(5, 118, 163);
    border: none;
    border-radius: 5px;
    color: white;
}
.save-btn{
    padding: 13px 25px 13px 25px;
    color: white;
    background-color: rgb(5, 118, 163);
    border: none;
    border-radius: 5px;
}
.save-input{
    padding: 13px 25px 13px 25px;
    width: 50px;
}